---
import BaseLayout from "../layouts/BaseLayout.astro";
import siteConfig from "../site-config";

const hero = siteConfig.hero;
---

<BaseLayout description={siteConfig.description} image={siteConfig.image}>
  {
    (hero.title ||
      hero.image.lightSrc ||
      hero.image.darkSrc ||
      hero.socialLinks) && (
      <div class="prose max-w-3xl w-full">
        {hero.title && <h1 class="text-title">{hero.title}</h1>}
        {hero.image.lightSrc && hero.image.darkSrc && (
          <img
            class="h-30vh ml-a mr-a block"
            src={hero.image.darkSrc}
            loading="lazy"
            decoding="async"
            alt={hero.image.alt || "Hero Image"}
          />
        )}
        <div id="hero-text">
          <p>I'm Broderick Westrope, but you can call me Brodie.</p>
          <p>
            I work in Australia as a Software Engineer & Consultant at{" "}
            <a href="https://mantelgroup.com.au/">Mantel Group</a>.
          </p>
          <p>
            My recent client projects have involved creating, testing, and
            uplifting a range of <strong>Go</strong> and{" "}
            <strong>ASP.NET</strong> web services to support varying business
            needs. This often involves more than these core technologies: I find
            myself regularly working with <strong>GitHub Actions</strong>,{" "}
            <strong>JavaScript</strong>, <strong>SQL</strong>,
            <strong>Protocol Buffers</strong>, <strong>Bicep</strong>, and more
            (or equivalents; no two companies have the same tech stack ;).
          </p>
          <p>
            Beyond my professional endeavours, I enjoy engaging with the broader
            tech community. I've had the privelege of speaking at GopherConAU
            and the Sydney Go Meetup.
          </p>
          <p>
            I also experiment with tech in my free time. A few of my favourite
            projects involve <strong>Flutter</strong>, <strong>C</strong>,{" "}
            <strong>Astro</strong>, and <strong>Vue</strong>.
          </p>
          <p>
            My code journey began at a young age, with a fascination for the
            limitless potential that software development provides (in
            comparison to my other options like Lego and Minecraft). I started
            by developing my own video games, eventually using the Unity engine
            with <strong>C#</strong>. This was my introduction to the world of{" "}
            <strong>.NET</strong> and quickly evolved into a career of web
            development.
          </p>
        </div>
        {hero.socialLinks.length > 0 && (
          <>
            <hr class="w-14 mx-auto my-8 border-t border-truegray-200 dark:border-truegray-800" />
            <p>Find me on</p>
            <p class="flex gap-x-4 gap-y-2 flex-wrap">
              {hero.socialLinks.map((link) => (
                <a
                  href={link.href}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="prose-link flex items-center"
                >
                  <i class:list={[link.icon, "text-sm mr-1"]} />
                  <span>{link.text}</span>
                </a>
              ))}
            </p>
          </>
        )}
        {siteConfig.email && (
          <p>
            If you have any questions, a job opportunity, or would like to go
            out for a coffee sometime, please email me at
            <a prose-link href={`mailto:${siteConfig.email}`}>
              {siteConfig.email}
            </a>
            .
          </p>
        )}
      </div>
    )
  }
</BaseLayout>
